body {
  background-color: #f3f3f3;
  
}
.contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 30px;
}

label {
  font-size: 20px;
  margin-bottom: 20px;
}
input[type="number"]{
  width: 250px;
  padding: 10px;
  outline: none;
}
button {
  margin-top: 15px;
  background: black;
  color: #fffffe;
  width: 250px;
  padding: 7px;
  outline: black;
  font-size: 18px;
  font-weight: bold;
  border: solid rgb(155, 153, 153) 1px;
}


li {
  background-color: whitesmoke;
  padding: 25px;
  color: black;
  font-size: 18px;
  list-style: none;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 5px;
}

li:nth-child(odd) {
  background-color: white;
  color: black;
}